[Unit]
Description=Start Python Interval program

[Service]
WorkingDirectory=/usr/lib/python2.7/dist-packages/OSPi
ExecStart=/usr/bin/python ospi.py
KillMode=process

[Install]
WantedBy=multi-user.target
