#!/usr/bin/make -f
%:
	dh $@ --with python2,systemd
#--with python-virtualenv

override_dh_clean:
	dh_clean
	rm -rf ospi.egg-info/ debian/ospi* build

#override_dh_auto_configure:
#	pip install Adafruit_BBIO

override_dh_installinit:
	cp -a ospi.service debian/ospi.service
	#dh_systemd_enable
	#dh_systemd_start
	dh_installinit

override_dh_builddeb:
	dh_builddeb
	rm -rf ospi.egg-info/ debian/ospi* build
